@import './sass/colors';
@import './sass/medias';

body {
	background-color: $off-white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	padding: 0rem 1rem;
}
